/.history/
target/
*.pkl
*.pt
*.pkl.gz
prutor-deepfix-09-12-2017.db
/utils/tracer/data/dataset/singleL/singleL_*.csv
__pycache__/
*.pyc
/neural_models/c/tmp/
/neural_models/c/checkout/
/neural_models/c/runs/
/neural_models/middleweight-java/data/right/
/neural_models/middleweight-java/data/m_*/
/neural_models/middleweight-java/runs/
/deepfix_processors/checkout/
/deepfix_processors/tmp/
/dataset/
/results/